* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(
    170deg,
    rgb(12, 134, 132),
    rgb(12, 134, 132) 30%,
    white 30%,
    white
  ); */
}

@font-face {
  font-family: playfair-display;
  src: url(./fonts/PlayfairDisplay-Medium.ttf);
}

@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(./fonts/Roboto-Light.ttf);
}

.top-container {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  position: absolute;
}

.top-color {
  background-color: rgb(12, 134, 132);
  width: 200vw;
  height: 100vh;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translateX(35%) rotate(-8deg);
  z-index: 0;
}
.background-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 80px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
}

.image-container {
  position: relative;
}

.dog-1 {
  width: 250px;
  padding: 50px 0px 100px 50px;
}

.dog-2 {
  max-width: 400px;
}

.my-name {
  position: absolute;
  top: 75%;
  left: 30%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-family: roboto;
}

.about {
  background-color: rgb(251, 251, 251);
  margin-right: 50px;
  padding: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  position: relative;
}

.about-description {
  font-family: roboto-light;
  font-weight: lighter;
  padding: 20px;
}

.images {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 15px;
  right: 10px;
  padding-right: 20px;
}

.icon {
  width: 20px;
}

.my-work {
  padding-top: 10px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.project-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.project-img {
  max-width: 250px;
}

h2 {
  padding-bottom: 20px;
}

.work-container {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
  position: relative;
}

.project-icon {
  position: absolute;
  top: -1px;
  right: 10px;
}

.project-info {
  text-align: center;
}

footer {
  background-color: rgb(12, 134, 132);
  width: 100%;
}

.contact-me {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  padding: 50px;
}

.contact-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex {
  display: flex;
  gap: 10px;
}

.footer-icons {
  display: flex;
  gap: 30px;
  padding-top: 30px;
}

.footer-icon {
  width: 30px;
}

@media (max-width: 700px) {
  body {
    background: linear-gradient(
      170deg,
      rgb(12, 134, 132),
      rgb(12, 134, 132) 20%,
      white 20%,
      white
    );
  }

  .dog-1 {
    width: 280px;
    height: auto;
    padding: 50px 0px 10px 50px;
  }

  .info {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    width: 100%;
  }

  .about {
    width: 100%;
    margin-left: auto;
    margin-right: -90px;
  }
}

@media (max-width: 500px) {
  .about {
    width: 100%;
    margin-right: -90px;
    margin-left: auto;
  }
}
